body {
    margin: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

label {
    font-weight: inherit;
    display: block;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.react-select__menu-list {
    background-color: rgb(57, 211, 255);
}
.react-select {
    &__control {
        border-radius: 0 !important;
        background-color: transparent !important;

        &--is-focused {
            border: 1px solid #000 !important;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.201) !important;
        }
    }

    &__menu {
        margin-top: 0 !important;
        top: 100% !important;
    }
    &__menu-list {
        background-color: #3eb7f2;
    }

    &__option {
        background-color: #3eb7f2 !important;

        &--is-focused {
            background-color: #5667bf !important;
        }
    }
}
